# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Model files
*.pkl

# Environment
.env
venv/
env/

# IDE
.vscode/
.idea/

# Misc
.DS_Store 